/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Comme:wght@300&family=Inconsolata&display=swap');

:root {
    /* create color pallete */
    --primary-color: #279092;
    --secondary-color: #117387;
    --accent1-color: #bebebe;
    --accent2-color: #1B2C36;

    --white-color: #FFF;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 1094px;
    margin: 0 auto;
}

nav p {
    color: var(--accent1-color);
    font-family: Inconsolata, Comme, sans-serif;
    margin-top: 40px;
    font-size: 2em;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: var(--accent1-color);
    align-self: center;
    font-family: Inconsolata, Comme, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

nav a:hover {
    text-decoration: none;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}

nav a:link {
    text-decoration: none;
    color: var(--white-color);
}

.logo {
    width: 100px;
    margin: 5px;
}

nav h1 {
    grid-column: 1/1;
    grid-row: 1/1;
}

main {
    display: grid;
    grid-template-columns: 1fr 144px 1fr;
    margin: 0 auto;
    margin-top: 10px;
}

#PhotoContainer {
    grid-column: 1/1;
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 60px 50px;
}

#PhotoContainer img {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 720px;
    box-shadow: 5px 5px 10px #065767;
}

#PhotoContainer h1 {
    grid-column: 1/3;
    grid-row: 3/4;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: Alkatra, Inconsolata, sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

#PhotoContainer a {
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 4/5;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: Inconsolata, Comme, sans-serif;
    text-decoration: none;
}

#PhotoContainer a:hover {
    color: #4cb5e6;
}

#DesignContainer {
    grid-column: 3/4;
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 60px 50px;
}

#DesignContainer img {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 725px;
    height: 445px;
    box-shadow: 5px 5px 10px #065767;
}

#DesignContainer h1 {
    grid-column: 1/3;
    grid-row: 3/4;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: Alkatra, Inconsolata, sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

#DesignContainer a {
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 4/5;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: Inconsolata, Comme, sans-serif;
    text-decoration: none;
}

#DesignContainer a:hover {
    color: #4cb5e6;
}

footer {
    background-color: var(--accent2-color);
    color: var(--white-color);
    padding: 10px;
    margin-top: 90px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

footer .social img {
    margin-left: 10px;
}

footer p {
    color: var(--white-color);
    font-family: Inconsolata, Comme, sans-serif;
    box-sizing: border-box;
    margin-left: 600px;
}

footer .links a {
    color: var(--white-color);
    font-family: Inconsolata, Comme, sans-serif;
    text-decoration: underline;
    margin-left: 100px;
    padding: 10px;
}

footer .links a:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 10px;
    text-decoration: underline;
    box-sizing: border-box;
}


/* Page two style */
.hero-photo {
    display: flex;
    background-color: var(--secondary-color);
    padding: 20px;
    margin-bottom: 50px;
}

.hero-photo-image {
    flex: 1;
    margin-left: 100px;
}

.hero-photo-image img {
    display: grid;
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 10px var(--accent1-color);
  }

.hero-photo-text {
    font-family: Comme, Inconsolata, sans-serif;
    font-size: 1.2em;
    color: var(--white-color);
    text-align: center;
    flex: 2;
    padding-left: 20px;
    margin-right: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

.photo-title {
    text-align: center;
    font-family: Alkatra, Inconsolata, sans-serif;
    font-size: 1.4em;
    margin-bottom: 50px;
  }

.photos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.photo-two-card,
.photo-three-card,
.photo-four-card {
    font-family: Comme, Inconsalata, sans-serif;
    text-align: center;
}

.card-img {
    border: 7px solid #065767;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}